body {
  max-width: 100%;
  background-image: linear-gradient(to right, blue, white);
}

.CounterMain {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.handleAdd {
  background-color: rgb(83, 62, 62);
  color: white;
  height: 50px;
  border: none;
  border-radius: 20px;
  width: 150px;
  font-size: large;
  font-weight: bold;
}

.CountButton {
  margin-top: 50px;
  border: none;
  height: 50px;
  width: 130px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 10px;
}
.sumBtn {
  position: absolute;
  right: 5%;
  width: 40px;
  text-align: center;
  background-color: rgb(83, 62, 62);
  color: white;
  border-radius: 80%;

  font-size: large;
  font-weight: bold;
}
.counterBoxStart {
  width: fit-content;
  margin: auto;
  margin: 20px;
}
.counterNumStart {
  background-color: white;
  width: 130px;
  height: 80px;
  border-radius: 5px;
  text-align: center;
}
.showNum {
  background-color: white;
  border-radius: 10px;
  width: 120px;
  height: 80px;
  text-align: center;
  margin: 5px;
  margin-top: 20px;
  padding-top: 20px;
  font-size: 30px;
}
.ArrBox {
  display: flex;
  flex-direction: row;
}
